In [0]:
%sql
SELECT "Hello world from SQL!"

In [0]:
%sql
-- Databricks notebook source
CREATE TABLE employeespavan
  (id INT, name STRING, salary DOUBLE);

In [0]:
%sql

INSERT INTO employeespavan
VALUES 
  (1, "Adam", 3500.0),
  (2, "Sarah", 4020.5),
  (3, "John", 2999.3),
  (4, "Thomas", 4000.3),
  (5, "Anna", 2500.0),
  (6, "Kim", 6200.3)

In [0]:
%sql
-- COMMAND ----------

SELECT * FROM employeespavan

-- COMMAND ----------

In [0]:
%sql
DESCRIBE DETAIL employeespavan

-- COMMAND ----------

In [0]:
%sql

-- COMMAND ----------

SELECT 'dbfs:/user/hive/warehouse/employeespavan'

In [0]:
%sql
-- COMMAND ----------

UPDATE employeespavan
SET salary = salary + 100
WHERE name LIKE "A%"

In [0]:
%sql
-- COMMAND ----------

SELECT * FROM employeespavan

In [0]:
%sql

-- COMMAND ----------

DESCRIBE DETAIL employeespavan

In [0]:
%sql

-- COMMAND ----------

DESCRIBE HISTORY employeespavan